<div class="contenedor-principal">
  <header>
    <div class="encabezado">
      <h1>Centro Óptico PDN 👓</h1>
      <p>Bienvenido, <span class="nombre-usuario">{{ usuario }}</span></p>
    </div>
  </header>

  <nav>
    <div class="navegacion">
      <a routerLink="/citas">Citas</a>
      <a routerLink="/ventas">Ventas</a>
      <a routerLink="/clientes">Clientes</a>
      <a routerLink="/historia-clinica">Historia Clínica</a>
      <a routerLink="/perfil">Perfil</a>
    </div>
  </nav>

  <main>
    <h2>¿Qué deseas gestionar hoy?</h2>
    <div class="grid-opciones">
      <button routerLink="/citas">📅 Citas</button>
      <button routerLink="/ventas">🛍️ Ventas</button>
      <button routerLink="/clientes">🧑‍🤝‍🧑 Clientes</button>
      <button routerLink="/historia-clinica">📝 Historia Clínica</button>
      <button  (click)="irAlPerfil()">👤 Perfil</button>
      <!-- Botón corregido -->
      <button (click)="irAlAdministrador()" >
        👥 Administrar Usuarios
      </button>
    </div>
  </main>

  <footer>
    Centro Óptico PDN © 2025 · Todos los derechos reservados
    <br />
    <button (click)="logout()">Cerrar Sesión</button>
  </footer>
</div>